*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(135deg, rgb(0,133,255) 0%, rgb(75, 255, 175) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

main {
    background-color: white;
    max-width: 50em;
    display: block;
    margin: 5em auto 5em auto;
    box-shadow: 0 -3em 3em rgb(0 0 0 / 10%), 0.3em 0.3em 1em rgb(0 0 0 / 30%);
    border-radius: 10px;
    padding-bottom: 1em;
    padding-top: 1em;
}

form{
    display: none;
}

#personal:invalid a{
    background-color: grey;
    pointer-events: none;
    opacity: 30%;
}

form:first-of-type{
    margin-top: 5em;
}

fieldset{
    margin: 5em;
    border: none;
}

form#personal:target {
    display: block;
}

form#wafs:target{
    display: block;
}

form#cssttr:target{
    display: block;
}

form#pwa:target{
    display: block;
}
form#bt:target{
    display: block;
}

form#rtw:target{
    display: block;
}

form#hcd:target{
    display: block;
}

legend{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: rgb(0, 43, 103);
    font-weight: bold;
}

h1{
    padding-top: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 3em;
    color: rgb(0, 43, 103);
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    color: rgb(0, 43, 103);
    font-weight: lighter;
} 

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    display: block;
    margin-top: 2em;
    margin-left: 5%;
}

.submitted{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    text-align: center;
    padding: 2em;
}

img{
    width: 50%;
    display: block;
    margin: 5em auto;
}

ul li{
    list-style-type: none;
}

input{
    margin: 1em;
    padding: 1em 0 .5em 1em;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
}

input[type=text]{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 90%;
    font-size: 1.5em;
    display: block;
    margin: auto;
}

input[type=text]:focus{
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
}

input[type=text]:valid {
    border-bottom: 3px solid rgb(75, 255, 175);
  }
  
input[type=text]:invalid {
    border-bottom: 3px solid red;
  }

input[type=text]:placeholder-shown:invalid {
    border-bottom: 3px solid black;
  }

input[type=email]{
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    width: 90%;
    font-size: 1.5em;
    display: block;
    margin: 0 auto 2em auto;
}

input[type=email]:valid {
    border-bottom: 3px solid rgb(75, 255, 175);
  }
  
input[type=email]:invalid {
    border-bottom: 3px solid red;
  }

input[type=email]:placeholder-shown:invalid {
    border-bottom: 3px solid black;
  }

input[type=checkbox]{
    display: inline-block;
    margin-left: 5%;
}

input[type=number]{
    width: 5em;
    display: block;
    margin-left: 5%;
    font-size: 1em;
    margin-bottom: 3em;
}

label[for=cijfer]{
    width: 5em;
    display: block;
    margin-left: 5%;
    margin-top: 1em;
    margin-bottom: -.5em;
    font-size: 1em;
}

a{
    background-color: rgb(0,133,255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    border: none;
    padding: 1em 2em;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    margin: 0 4em;
    text-decoration: none;
}

a:hover{
    background-color: rgb(0, 100, 193);
}

div{
    display: block;
    margin: 0 auto 3em auto;
    width: fit-content;
}

input[type=submit]{
    background-color: rgb(0,133,255);
    border: none;
    padding: 1em 2em;
    border-radius: 50px;
    display: block;
    margin: auto;
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    margin-bottom: 3em;
}

input[type=submit]:hover{
    background-color: rgb(0, 100, 193);
}

@media (prefers-color-scheme: dark) {
    body{
        background: rgb(37, 37, 37);
    }

    main {
        background-color: rgb(53, 53, 53);
    }

    h1{
        color: white;
    }

    h2{
        color: white;
    }

    legend{
        color: white;
    }

    input{
        color: white;
        background-color: rgb(53, 53, 53);
    }

    input[type=text]:valid{
        color: white;
        background-color: rgb(53, 53, 53);
    }

    a{
        background: rgb(37, 37, 37);
    }

    a:hover{
        background: rgb(30, 30, 30);
    }

    input[type=submit]{
        background: rgb(37, 37, 37);
    }

    input[type=submit]:hover{
        background: rgb(30, 30, 30);
    }
}